<form jd-panel ng-controller="app.core.fimAno.listarPresentes.listarPresentesCtrl as listarPresentesCtrl" name="listarPresentesForm" jd-title="My Feature 1">

    <div class="row">
    	<input type="text" jd-input jd-label="Input 1" ng-model="listarPresentesCtrl.listarPresentesModel.input1">
    </div>

    <div class="row">
    	<div class="col-xs-12">
    		<button class="btn btn-primary" ng-click="listarPresentesCtrl.method1()" jd-i18n>Method 1</button>
        	<button class="btn btn-info" ng-click="listarPresentesCtrl.method2()" jd-i18n>Method 2</button>
    	</div>
    </div>
</form>