<form jd-panel ng-controller="app.core.fimAno.cadastrarPresentes.cadastrarPresentesCtrl as cadastrarPresentesCtrl" name="cadastrarPresentesForm" jd-title="My Feature 2 (Aaa)">

    <div class="row">
    	<input type="text" jd-input jd-label="Input 1" ng-model="cadastrarPresentesCtrl.cadastrarPresentesModel.input1">
    </div>

    <div class="row">
    	<div class="col-xs-12">
    		<button class="btn btn-primary" ng-click="cadastrarPresentesCtrl.method1()" jd-i18n>Method 1</button>
        	<button class="btn btn-info" ng-click="cadastrarPresentesCtrl.method2()" jd-i18n>Method 2</button>
    	</div>
    </div>
</form>